/********************************************************/
/* Seems like someone is curious. Anyway You're welcome */
/*              Author: Lamina Olawale                  */
/*           Website: www.olawalelamina.com             */
/*                                                      */
/********************************************************/




/***** BASELINE *****/
*{
    padding: 0;
    margin: 0;
}

    html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}
/***** HEADER *****/
#headerContainer{
    background-color: #000;
    width: 100%;
    height: 300px;
}
.navbar-default{
    background-color:rgba(0, 0, 0, 0);
    border: none;
}
.navbar-right{
   padding-top: 20px;
}
.navbar-default .navbar-nav > li > a {
   color: #07d4de;
}
.navbar-default .navbar-nav > li > a:hover {
   color: #fff;
   background-color: #07ded4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   background-color: #07ded4;
   color: white;
}
.navbar-default .navbar-toggle {
   border: none;
}
.navbar-default .navbar-toggle:hover {
   background-color: #07ded4;
}
.navbar-toggle {
   margin-top:30px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
   border-color:#07ded4;
   text-align: center;
}
.navbar-default .navbar-toggle .icon-bar {
   background-color: #07ded4;
}
#aboutOlawale, #aboutText{
    font-family: "lato", sans-serif;
    color: #07d4de;
    margin-top:7%;
}
#aboutText{
    font-family: 'Raleway', sans-serif;
    margin-top:0%;
}
.bounceInRight{
    -webkit-animation-name: bounceInLeft;
    animation: bounceInLeft;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

/** FOOTER **/
#footerButton{
    background-color: #07ded4;
    color: #000;
    border: none;
    border-radius:0;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
#footerButton:hover{
    background-color: #016C67;
    color: #fff;
    transition: 2s ease-out;
}
#bottomFooter{
    width: 100%;
    height: 300px; 
    padding: 150px 100px;
    color: #ccc;
    background-color: #000;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
 #footerLogo{
    width: 60px;
    height: 60px;
    margin-bottom: 2%;
}
#footerLogo:hover{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.social{
    font-size: 30px;
    text-align: center;
    padding-left:5px;
}
.social .fa{
    padding-left: 5px;
}
.fa:hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
a i{
    color: #07ded4;
}
a i:hover{
    color: white;
}
#copyright{
font-family: 'Raleway', sans-serif;
color: #fff;
font-size: 12px;
} 

/******************************************/
/*            ABOUT PAGE              */
/******************************************/

/**** ARTICLE SECTION ****/
#articleRow{
    padding: 100px;
}
#sentence, #techniques{
    text-align: justify;
}
.col-sm-6{
    padding: 20px 30px 20px 30px;
}
.devIcon{
    padding-left: 20px;
    padding-bottom: 20px;
} 
.devIcon:hover{
        -webkit-animation-name: shake;
        animation: shake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
}


/******************************************/
/*            CONTACT PAGE              */
/******************************************/
.contact-form{
    width: 100%;
    padding: 20px 80px;
    background-color:#07ded4;
}
.star{
    color: red;
}
#contact a:hover{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease-out;
}



/******************************************/
/*            HIRE PAGE              */
/******************************************/
#hire{
    padding: 10% 15%;
}
.hire-form > *{
    padding: 50px;
}
.hire-form{
    background: #07ded4;
}
.hire-form a:hover{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease-out;
}
.formGroup{
    background: #B0F3F0;
    box-shadow: 1px 1px 10px 0px;
}
.form-control{
    border-color: #07d4de;
}

.btn-default{
    background: #07ded4;
    border: 1px solid #016C67;
    transition: 0.5s ease-out;
}
.btn-default:hover, .btn-default:focus{
    background: #016C67;
    color: #fff;
    border: 1px solid #07d4de;
}


/******************************************/
/*            PORTFOLIO PAGE              */
/******************************************/ 
#websiteSec, #websiteBanner{
    background: #07ded4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #07ded4 0%, #07ded4 28%, #62f7cf 53%);
    background: -webkit-linear-gradient(-45deg, #07ded4 0%,#07ded4 46%,#62f7cf 67%,#62f7cf 100%);
}
#logoBanner, #logoSec{
    /* background: url("../img/logo-bg.png"); */
    background: #e309ea;
    background: -moz-linear-gradient(-45deg, #e309ea 0%, #b146b5 23%, #515bcc 100%);
    background: -webkit-linear-gradient(-45deg, #e309ea 0%, #b146b5 23%, #515bcc 100%);
}

#graphicsBanner, #graphicSec{
    /* background: url("../img/graphics-bg.png"); */
    background: #ff8000;
    background: -moz-linear-gradient(-45deg, #ff8000 0%, #ffba75 59%, #f7da00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff8000 0%,#ffba75 59%,#f7da00 100%); /* Chrome10-25,Safari5.1-6 */
}

.portfolioBanner{
    /* visibility: hidden; */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    /* -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; */
    -webkit-animation-duration: 5s;
    animation-duration: 5s; 
    width: 100%;
    height: 150px;
}

.portfolioBanner > p{
    font-size: 50px;
    color: #fff;
    padding-top: 40px;
}
.portfolioContent{
    padding: 50px;
    background-color: #F9F6F6;
}
 .col-sm-4, .col-xs-6, .col-sm-6, .col-xs-12{
    /* border: 1px solid green;   */
    margin-bottom: 20px; 
} 
.screenshot, .webscreenshot, .logoscreenshot, .bannerscreenshot{
    width: 100%;
    /* box-shadow: 1px 1px 5px 0px; */
}
figcaption{
    text-align: justify;
    font-family: "raleway", sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.tools, .h4{
    color: yellow;
}


/* Testimonial */
#testimonialContainer{
    width: 100%;
    height: 500px;
    background: url("../img/background.jpg") no-repeat center;
    padding: 7% 15%;
    /* margin-bottom: 25px; */
}
#itemRow{
    padding: 0 20px;
  
}
#testimonialText{
    height: 300px;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    font-family: 'raleway', sans-serif;
}








/***************  MEDIA QUERY *****************/
/***************  MEDIA QUERY *****************/
/***************  MEDIA QUERY *****************/
/***************  MEDIA QUERY *****************/


/*****   LARGE DEVICES ONLY   *****/
@media (min-width: 1024px) and (max-width: 1286px){ 
/***************  ABOUT PAGE  *****************/
    /* Header */
    .navbar-brand{
        width: 120px;
        height:120px;  
    }
    .navbar-brand img{
        width: 100px;
        height:100px;  
    }  
    /***************  END ABOUT PAGE  *****************/


    /***************  CONTACT PAGE  *****************/

    #contact{
        padding: 10% 20%;
    }
} 
/***** END OF LARGE DEVICES ONLY *****/



/**** MEDIUM DEVICES ONLY ****/
@media (min-width: 992px) and (max-width: 1023px){ 
    .social{
        font-size: 25px;
    }
    /***************  ABOUT PAGE  *****************/
    .navbar-brand{
        width: 100px;
        height:100px;  
    }
    .navbar-brand img{
        width: 90px;
        height: 90px;  
    } 
    /***************  END ABOUT PAGE  *****************/
    
    /***************  CONTACT PAGE  *****************/
    #contact{
        padding: 10% 20%;
    }
    .contact-form{
        padding: 20px 70px;
    }
} 
/**** END OF MEDIUM DEVICES ONLY ****/



/**** SMALL DEVICES ONLY ****/

@media (min-width: 768px) and (max-width: 991px){
    .social{
        font-size: 25px;
    }
    /***************  ABOUT PAGE  *****************/
    .navbar-brand{
        width: 90px;
        height:90px;  
    }
    .navbar-brand img{
        width: 80px;
        height: 80px;  
    } 
    #articleRow{
    padding: 50px;
    }
    #aboutOlawale{
        font-family: "lato", sans-serif;
        color: #07ded4;
        margin-top:12%;
    }
    #aboutText{
        font-family: 'Raleway', sans-serif;
        margin-top:0%;
    }
    /***************  END ABOUT PAGE  *****************/

    /***************  CONTACT PAGE  *****************/
    #contact{
        padding: 10% 15%;
    }
    .contact-form{
        padding: 20px 50px;
    }

}
    /**** END OF SMALL DEVICES ONLY ****/



/**** EXTRA SMALL DEVICES ONLY ****/
@media (max-width: 767px){
    .social{
        font-size: 25px;
    }
    /***************  ABOUT PAGE  *****************/
     #headerContainer{
        height: auto !important;
    } 
    .navbar-brand{
        width: 80px;
        height:80px;  
    }
    .navbar-brand img{
        width: 60px;
        height: 60px;  
    } 
    #articleRow{
    padding: 5px;
    }
    #aboutOlawale{
        font-family: "lato", sans-serif;
        font-size: 30px;
        color: #07ded4;
        margin-top:20%;
    }
    #aboutText{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        margin-top:0%;
        padding: 0 15px;
    }
    hr {
       border: 1px solid #07ded4;
       margin: 6%;
    }
    /* footer */
   #bottomFooter{
        padding: 150px 50px;
    }
   
    
    /******** PORTFOLIO PAGE ********/
    .portfolioBanner{
        height: 100px;
        margin-top: 0px; 
        padding-top: 0px;
    }
    .portfolioBanner > p{
        font-size: 30px;
        padding-top: 35px;
    }
    .portfolioContent{
        text-align: center;
    }
    #portfolioRow{

    }
  
    /* Testimonial */
    #testimonialContainer{
        height: 300px;
        padding: 2% 15%;
        margin-bottom: 15px;
    }
    #testimonialText{
        height: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    /******** CONTACT PAGE ********/
    #contact{
        padding: 10% 10%
    }
    .contact-form{
        padding: 20px 50px;
    }

    /***************  HIRE PAGE  *****************/
    .col-xs-6{
        width: 100%;
    }
   
}
    /**** END OF EXTRA SMALL DEVICES ONLY ****/

    /**** SUPER EXTRA SMALL DEVICES ONLY ****/
    @media (max-width: 497px){ 
        .social{
            font-size: 25px;
        } 
    /**** Header ****/
    #headerContainer{
        height: auto !important;
    } 
    .navbar-brand img{
        width: 50px;
        height: 50px;  
    } 
    #aboutOlawale{
        font-size: 25px;
        margin-top:20%;
    }
    #aboutText{
        font-size: 12px;
        padding: 0 15px;
    }
   
    /* footer */
    #footerButton{
        font-size: 16px;
        margin-bottom: 0%;
    }
    #bottomFooter{
        height: 150px;
        padding-top: 100px;
        } 
   
    /******** PORTFOLIO PAGE  ********/
    .portfolioContent{
        padding: 15px 25px;
    }
    .portfolioBanner{
        height: 80px;
        /* margin-top: 30px;  */
    }
    .portfolioBanner > p{
        font-size: 25px;
        padding-top: 20px;
    }
    .col-xxs-12{
        width: 100%;
    }
    .screenshot, .webscreenshot, .bannerscreenshot, .logoscreenshot{
        height: auto;
    }
    figcaption{
        font-size: 12px;
    }

    /* TESTIMONIAL */
    #testimonialContainer{
        height: 300px;
        padding: 1% 3%;
        /* margin-bottom: 15px; */
        box-sizing: border-box;
    }
    #testi{
        font-size: 25px;
    }
    #testimonialText{
        height: 150px;
        font-size: 11px;
        line-height: 15px;
    }

    /******** CONTACT PAGE  ********/
    #contact{
        padding: 10% 5%;
    }
    .contact-form{
        padding: 20px 40px;
    }

    /***************  HIRE PAGE  *****************/
    .hire-form > *{
        padding: 10px;
    }
    
   
   
}