@import url('https://fonts.googleapis.com/css?family=Handlee|Orbitron:400,500,700,900');

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    font-family: 'lato', sans-serif;
    overflow-x: hidden; 
}

/****** INTRO SECTION ******/
.container-fluid{
    width: 100%;
    height: 650px;
    background: url('../img/portbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    
  }
.overlay{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
}

/****** NAVIGATION BAR ******/ 
#nav-wrapper{
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background: transparent;
}
.burg-toggle {
    background: transparent;
    padding: 20px 0;
    display: block;
    float: right;
}
.burg-toggle span {
    display: block;
    height: 3px;
    width: 30px;
    background: #07d4de;
    position: relative;
}
.burg-toggle span:before, .burg-toggle span:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #07d4de;
}
.burg-toggle span:before {
    top: -10px;
}
.burg-toggle span:after {
    top: 10px;
}

#logo_header{
    width: 80px;
    height: 80px;
}

.fixedposition{
    position: fixed;
}

.menu-full {
    visibility: hidden;
    opacity: 1;
    margin-top: -100%;
    color: #FFF;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.menu-full > div {
    display: table;
    width: 100%;
    height: 100%;
}

.menu-full > div > div {
    display: table-cell;
    vertical-align: middle;
}

.menu-full > div > div > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    text-align: center;
}
.menu-full ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-full ul li {
    list-style: none;
}
.menu-full ul li a {
    display: inline-block;
    font-family: 'Orbitron', sans-serif; 
    text-decoration: none;
    color: #07d4de;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 3em;
    padding: 5px 0;
}
.menu-full ul li a:hover {
    color: #fff;
}
.menu-full ul li ul {
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    margin-top: -2em;
}
.menu-full ul li ul li {
    display: inline-block;
}
.menu-full ul li ul li a {
    color: #BBB;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 1em;
    padding: 0 20px 10px;
}
.menu-full ul li ul li a:hover {
    color: #666;
}
.menu-full ul li a:hover + ul, .menu-full ul li ul:hover {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
    margin-top: 0em;
}
.menu-full .close-button {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu-full .close-button span {
    position: absolute;
    margin: 0 auto;
    border: 2px solid #07d4de;
    background: transparent;
    border-radius: 20px;
    padding: 15px 20px 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}
.menu-full .close-button span:hover {
    border: 2px solid #07d4de;
    transition: all 0.3s ease-in-out;
}
.menu-full .close-button span:after, .menu-full .close-button span:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg) translateX(0) translateY(0);
    height: 25px;
    width: 2px;
    background: #07d4de;
    content: '';
    display: block;
    margin: 0 0 0 -1px;
    transition: all 0.3s ease-in-out;
}
.menu-full .close-button span:hover:after, .menu-full .close-button span:hover:before {
background: #07d4de;
}
.menu-full .close-button span:hover:after {
    transform: rotate(-405deg) translateX(2px) translateY(5px);
    height: 15px;
    width: 2px;
    transition: all 0.3s ease-in-out;
}
.menu-full .close-button span:hover:before {
    transform: rotate(-315deg) translateX(-2px) translateY(5px);
    height: 15px;
    width: 2px;
    transition: all 0.3s ease-in-out;
}
.menu-full .close-button span:before {
    transform: rotate(-45deg) translateX(0) translateY(0);
}
.menu-full:target {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}
#logo{
    width: 80px;
    height: 80px;
    -webkit-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;
}

@-webkit-keyframes rotation{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
 

.col-sm-12{
    text-align: center;
    margin-top: 200px;
}
.col-sm-12 > h1{
    font-family: 'Lato', sans-serif;    
    font-size: 400%;
    color: #07d4de;
}
.col-sm-12 > h3{
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
}

#section-block{
    background: #07d4de;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 80px;
}
#section-block ul{
    list-style: none;
}
#section-block ul li{
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px; 
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    cursor: pointer;
 }
 #section-block ul li:hover{
    background: #000;
    color: #fff;
 }
 .active{
    background: #000;
    color: #fff; 
 }
/****** PORTFOLIO ******/
.container{
    width: 100%;
}
  
.section-1-port{
    box-sizing: border-box;
    padding: 0;
}

figure.port-img {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: center;
}
figure.port-img * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.port-img img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.port-img figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
}
figure.port-img figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.port-img h2, figure.port-img p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.port-img h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.port-img h2 span {
    font-weight: 800;
    padding: 3px;
}
figure.port-img p {
    font-weight: 200	;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.port-img a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.port-img:hover img {
    opacity: 0.35;
}
figure.port-img:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.port-img:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.port-img:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#section-block-2{
    background: #07d4de;
    width: 100%;
    height: 200px;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}
#button{
    font-family: 'Orbitron', sans-serif;
    font-size: 14px; 
    letter-spacing: 3px;
    border-radius: 0;
    width: 360px;
    height: 70px;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding-top: 25px;
    padding-bottom: px;
    
} 
#button:hover{
    color: #fff;
    border: 2px solid #000;
    background-color: #000;
    transition: ease-in-out;
} 

  /********** Footer  **********/
#footerButton{
    background-color: #07ded4;
    color: #000;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
#footerButton:hover{
    background-color: #1fc1b9;
}
#bottomFooter{
    width: 100%;
    height: 300px; 
    padding: 150px 100px;
    color: #ccc;
    background-color: #000;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
#footerLogo{
    width: 60px;
    height: 60px;
    margin-bottom: 2%;
}
.social{
    font-size: 25px;
    text-align: center;
    padding-left:5px;
}
.social .icon{
    padding-left: 5px;
}
a i{
    color: #07ded4;
    border: none !important;
    border-radius: none !important;
}
a i:hover{
    color: white;
}
#copyright{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 12px;
} 



  /******* DEVICE SCREEN MEDIA QUERIES  ********/
@media (min-width: 768px) and (max-width: 991px){
  }
  

@media (max-width: 767px){
    #logo{
    width: 60px;
    height: 60px; 
    }  

    .col-sm-12 > h1{
    font-size: 450%;
    }

    .col-sm-12 > h3{
    font-size: 20px;
    }

    /* Portfolio */
    .section-1-port{
    width: 50%;
    }
    .col-md-4{
        width: 100%;
    }
}

@media (max-width: 602px){
    
    .col-sm-12 > h1{
        font-size: 400%;
    }
    .col-sm-12 > h3{
        font-size: 20px;
    }

    #section-block ul li{
        font-size: 10px; 
     }
    /* Portfolio */
    .section-1-port{
        width:100%;
    }

    .flyers{
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media (max-width: 575px){
   
    .col-sm-12 > h1{
        font-size: 300%;
    }

    .col-sm-12 > h3{
        font-size: 14px;
        line-height: 20px;
    }

}

@media (max-width: 448px){
    .container-fluid{
        width: 100%;
        height: 400px;
    }

    #logo{
        width: 50px;
        height: 50px; 
    } 

    .col-sm-12{
        height: 100px;
        text-align: center;
        margin-top: 150px;
    }

    #section-block h2{
        font-size: 60%;
    }

    .col-sm-12 > h1{
        font-size: 230%;
    }

    /* Portfolio */
    .flyers{
        width: 100%;
        padding: 0;
    }

    .col-sm-12 > h3{
        font-size: 12px;
        line-height: 20px;
    }
    #button{
        width: 300px;
    }
}